* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.corpo {
  background-color: #444;
  padding: 8px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cabecalho {
  background-color: #cc2a2a;
  border-radius: 10px;
  min-width: 100px;
  min-height: 100px;
  margin: 8px;
  grid-column: span 4;
}

.lateral {
  background-color: green;
  border-radius: 10px;
  margin: 8px;
  min-width: 50px;
  min-height: 50px;
  grid-row: span 3;
}

.meio {
  background-color: turquoise;
  border-radius: 10px;
  margin: 8px;
  min-width: 50px;
  min-height: 50px;
  grid-row: span 3;
  grid-column: span 2;
}

.direita-cima {
  background-color: slateblue;
  border-radius: 10px;
  margin: 8px;
  min-width: 50px;
  min-height: 50px;
}

.direita-baixo {
  background-color: palevioletred;
  border-radius: 10px;
  margin: 8px;
  min-width: 50px;
  min-height: 50px;
  grid-row: span 2;
}